/.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.pdb
*.cache
*.log
*.vspscc
_ReSharper*/
*.DotSettings.user
/.idea/
.vscode/
.DS_Store
wwwroot/uploads/
*/bin/
*/obj/
node_modules/
*.env
nuget.exe
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/
*.swp

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
